In [20]:
import os
import mysql.connector
import pandas as pd
import numpy as np

In [24]:
#connection = mysql.connector.connect(host='localhost', user = 'root', passwd='password',db='testdb')
connection = mysql.connector.connect(host='10.0.0.37', user = 'jim@18.217.126.92', passwd='password',db='testdb')
#connection = mysql.connector.connect(host='10.0.0.37', user = 'joe@10.0.0.37', passwd='password',db='testdb')

In [25]:
connection

In [26]:
testdb_tables = pd.read_sql_query('SHOW TABLES FROM TESTDB', connection)

In [27]:
testdb_tables

  Tables_in_testdb
0         employee

In [28]:
employee_data = pd.read_sql_query('SELECT * FROM EMPLOYEE', connection)

In [19]:
employee_data

   id name
0   1  Tom
1   2  Tim